[submodule "spec"]
	path = spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-mister-cocktail-specs.git

[submodule "rails-bootstrap"]
    path = rails-bootstrap
    url =  https://github.com/RailsApps/rails-bootstrap


