
<div class="bgimg">

    <%= cl_image_tag("comingsoon3_jtd1mm", width: 1510, height: 800, crop: :fill) %>


  <div class="middle">
    <h1 style="font-family: 'Londrina Solid', cursive; text-align: center; font-size: 55px">OUR NEW HEALTHY COCKTAIL RECIPES</h1>
    <h3 style="text-align: center; font-family: Pacifico, cursive;">COMING SOON </h3>
    <iframe src="http://free.timeanddate.com/countdown/i7nvxrqp/n1324/cf12/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cacfff/cpcfff/pct/tcfff/fs100/szw1200/szh506/iso2022-04-01T00:00:00/pd2" allowTransparency="true" frameborder="0" width="453" height="108"></iframe>

  </div>
</div>


