.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-outline-success {
  color: #2E2F30;
  border-color: #2E2F30;
  &:hover{
    background-color: lightgray;
    border-color: darkgrey;
  }
}
.dropdown-menu a {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  &:hover{
    background-color: lightgray;
  }
}