// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mt-2{
  color: black;
  background-color: lightpink;
  border: lightgray;
  &:hover{
    background-color: lightpink;
  }
}

.auto_type{
  text-align: center;
  position: absolute;
  top: 328px;
  right: 229px;
  color: white;
  font-size: xxx-large;
  font-style: italic;
  font-family: 'Londrina Solid', cursive;
}

.wrapper_card{
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 90px;
}
.card-img-top{
  width: 286px;
  height: 356px;
}

.card:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.15);
}

.loading{
  color: darkred;
  position: relative;
  font-size: 80px;
}
.loading span{
  position: absolute;
  display: inline-block;
  animation-name: loading;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 1;
}
@keyframes loading {
  0%{
    opacity: 0;
    transform: translateX(0) rotate(-45deg);
  }
  50%{
    opacity: 1;
    transform: translateX(100px) rotate(-45deg);
  }
  100%{
    opacity: 0;
    transform: translateX(150px) translateX(100px) rotate(1260deg);
  }
}
.loading span:nth-child(1){
  animation-delay: 0.6s;
}
.loading span:nth-child(2){
  animation-delay: 2s;
}
.loading span:nth-child(3){
  animation-delay: 3.4s;
}
.line{
  width: 105px;
  height: 3px;
  background-color: #730E15;
  transform: translateY(101px);
}

.card{
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  gap: 20px;
}

.card-text_index a {
  font-size: x-large;
  color: #0E0000;
  width: 160px;
  text-align: center;

}

.card:hover{
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.05);
}

.card{
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  gap: 20px;
}

.text-muted{
  margin-top: 45px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-foot{
  text-align: center;
}
.foot{
  color: black;
  margin-left: 38px;
  margin-right: 38px;
  text-align: center;
  display: inline-block;
}

.foot a:hover{
  border: 3px dashed lightgray;
  text-decoration: none;
}

.foot a{
  color: black;
}

.edit:hover{
  border: lightgray;
  font-style: italic;

  color: #0E0000;
}

.delete:hover{
  border: lightgray;
  font-style: italic;
  color: #0E0000;
  background-color: lightpink;
}

.row-index{
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  gap: 55px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.card-index{
  float: left;
  width: 107.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}



.card-index:hover{
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.05);
}

.card-image{
  height: 315px;
  width: 354px;
  crop: auto;
  }

table {
  border-collapse: separate;
  border-spacing: 30px 0;
}

td {
  padding: 10px 0;
  text-align: center;
}



th {
  text-align: center;
}

.image-container {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin: 20px 73px 0 57px;
}
.text-container {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  border: 3px solid black;
}
@media (max-width: 620px) {
  .text-container {
    width: 100%;
  }
}